<div class="page-header">
  <h1>
    My Favorites
    <a href="/favorites/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Book Cover</th>
          <th>Book Title</th>
          <th>Book Author</th>
          <th>Year Published</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
            <% current_user.favorites.each do |favorite| %>
          <tr>
            <!-- Github sosedoff -->
            <% @book_by_id = @client.book(favorite.book_id) %>

            <!-- Nokogiri -->
            <% url_of_book_id_search = "https://www.goodreads.com/book/show/" + favorite.book_id.to_s + "?format=xml&key=" + @key %>
            <% raw_book_id_data = open(url_of_book_id_search).read %>
            <% parsed_book_id_data = Nokogiri::XML(raw_book_id_data) %>
            <% @book_id_results = parsed_book_id_data.css("GoodreadsResponse") %>

            <td><img src = "<%= @book_by_id.image_url %>"></td>
            <td><%= @book_by_id.work.original_title %></td>
            <td><%= @book_id_results.children.children.children.children.children[1] %></td>
            <td><%= @book_by_id.work.original_publication_year %></td>
            <td><%= @book_by_id.description.html_safe %></td>
            <td>
              <a href="/favorites/<%= favorite.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>
            </td>
            <td>
              <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- End simple table layout example -->


<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container').isotope({
      itemSelector: '.isotope-item',
      layoutMode: 'masonry',
      filter: function() {
        return qsRegex ? $(this).text().match( qsRegex ) : true;
      }
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
